
menu "configure tuya cloud service"
    config MBEDTLS_CONFIG_FILE
        string "MBEDTLS_CONFIG_FILE"
        default "tuya_tls_config.h"

    config TUYA_SECURITY_LEVEL
        int "TUYA_SECURITY_LEVEL: set tuya security level"
        range 0 3
        default 0
        ---help---
                0       /* security level 0,Applies to: Resource-constrained devices;Feature: Can only access Tuya Cloud */
                1       /* security level 1,Applies to: Resource-constrained devices;Feature: One-way authentication */
                2       /* security level 2,Applies to: Resource-rich equipment;Feature: Two-way authentication */
                3       /* security level 3,Applies to: Resource-rich equipment;Feature: Two-way authentication,Devices use security chips to protect sensitive information */


    menuconfig  ENABLE_BT_SERVICE
        bool "ENABLE_BT_SERVICE: enable tuya bt iot function"
        default n

        if (ENABLE_BT_SERVICE)
            config ENABLE_BT_NETCFG
                bool "ENABLE_BT_NETCFG: enable tuya Bluetooth netconfig"
                default y

            config ENABLE_BT_CTRL
                bool "ENABLE_BT_CTRL: enable tuya Bluetooth control"
                default y

            config BT_ADV_INTERVAL_MIN
                int "BT_ADV_INTERVAL_MIN: tuya Bluetooth min adv interval,bet:ms"
                range 10 2000
                default 30

            config BT_ADV_INTERVAL_MAX
                int "BT_ADV_INTERVAL_MAX: tuya Bluetooth max adv interval,bet:ms"
                range 10 2000
                default 60
            
            config BT_REMOTE_CTRL_SCAN_INTERVAL
                int "BT_REMOTE_CTRL_SCAN_INTERVAL: tuya Bluetooth remote control scan interval,bet:ms"
                range 10 2000
                default 30

            config BT_REMOTE_CTRL_SCAN_WINDOWS
                int "BT_REMOTE_CTRL_SCAN_WINDOWS: tuya Bluetooth remote control scan windows,bet:ms"
                range 10 2000
                default 10

            menuconfig ENABLE_NIMBLE
                bool "ENABLE_NIMBLE: enable nimble stack instead of ble stack in board"
                default y
                if (ENABLE_NIMBLE) 
                    config TUYA_HS_BLE_HOST_TASK_PRIORITY
                    int "TUYA_HS_BLE_HOST_TASK_PRIORITY config bt host task proi"
                    range 0 100
                    default 9
                    config TUYA_HS_BLE_HOST_STACK_SIZE
                    int "TUYA_HS_BLE_HOST_STACK_SIZE config bt host task size"
                    range 0 10000
                    default 5120
                endif
        endif
endmenu
    