choice
    prompt "Choice Arduino Board"
    default ENABLE_ARDUINO_TUYA_T2

    config ENABLE_ARDUINO_TUYA_T2
        bool "ENABLE_ARDUINO_TUYA_T2"

    config ENABLE_ARDUINO_TUYA_T3
        bool "ENABLE_ARDUINO_TUYA_T3"
endchoice

if (ENABLE_ARDUINO_TUYA_T2)
    config ARDUINO_BOARD
    string
    default "ARDUINO_TUYA_T2"
endif

if (ENABLE_ARDUINO_TUYA_T3)
    config ARDUINO_BOARD
    string
    default "ARDUINO_TUYA_T3"
endif
