[submodule "src/tal_kv/FlashDB"]
	path = src/tal_kv/FlashDB
	url = https://github.com/armink/FlashDB.git
[submodule "src/tal_kv/littlefs"]
	path = src/tal_kv/littlefs
	url = https://github.com/littlefs-project/littlefs.git
[submodule "src/libcjson/cJSON"]
	path = src/libcjson/cJSON
	url = https://github.com/DaveGamble/cJSON.git
[submodule "src/common/backoffAlgorithm"]
	path = src/common/backoffAlgorithm
	url = https://github.com/FreeRTOS/backoffAlgorithm.git
[submodule "apps/tuya_cloud/switch_demo/libqrencode"]
	path = apps/tuya_cloud/switch_demo/libqrencode
	url = https://github.com/fukuchi/libqrencode.git
