
#
# config of bk7231n
#

#
# board
#
CONFIG_OPERATING_SYSTEM=98
CONFIG_ENABLE_WIFI=y
CONFIG_ENABLE_WATCHDOG=y
CONFIG_ENABLE_BLUETOOTH=y
CONFIG_LITTLE_END=1
# end of board


#
# tuya cloud
#
CONFIG_ENABLE_BT_SERVICE=y
CONFIG_ENABLE_BT_NETCFG=y
CONFIG_ENABLE_BT_CTRL=y
CONFIG_BT_ADV_INTERVAL_MIN=30
CONFIG_BT_ADV_INTERVAL_MAX=60
CONFIG_BT_REMOTE_CTRL_SCAN_INTERVAL=30
CONFIG_BT_REMOTE_CTRL_SCAN_WINDOWS=10
CONFIG_TUYA_BLE_VER=4
CONFIG_ENABLE_TAL_BLUETOOTH=y
CONFIG_TAL_BLE_SERVICE_VERSION=2
CONFIG_ENABLE_NIMBLE=y
CONFIG_TUYA_HS_BLE_HOST_TASK_PRIORITY=9
CONFIG_TUYA_HS_BLE_HOST_STACK_SIZE=5120
# end of tuya cloud

#
# mbedtls Config
#
CONFIG_MBEDTLS_CONFIG_FILE="tuya_tls_config.h"
# CONFIG_ENABLE_BLACK_WHITE_LIST is not set
CONFIG_TUYA_SECURITY_LEVEL=1
# CONFIG_ENABLE_MBEDTLS_DEBUG is not set
# CONFIG_ENABLE_CUSTOM_CONFIG is not set
# end of mbedtls Config

CONFIG_ENABLE_LIBLWIP=y
CONFIG_LWIP_TCP_HEAD_ALLOC_REUSE_POLL=0
CONFIG_LWIP_TUYA_APP_TCPIP_THREAD_SWITCH=1
CONFIG_IPEF_TEST_OPTIMIZE=0
CONFIG_MEM_SIZE=13312
CONFIG_MEMP_NUM_UDP_PCB=6
CONFIG_MEMP_NUM_TCP_PCB=10
CONFIG_MEMP_NUM_TCP_PCB_LISTEN=5
CONFIG_MEMP_NUM_NETCONN=21
CONFIG_MEMP_NUM_PBUF=100
CONFIG_MEMP_NUM_TCP_SEG=20
CONFIG_IP_REASS_MAX_PBUFS=10
CONFIG_PBUF_POOL_SIZE=20
CONFIG_PBUF_LINK_ENCAPSULATION_HLEN=0
CONFIG_TCP_SND_BUF=7300
CONFIG_TCP_SND_QUEUELEN=20
CONFIG_MEMP_NUM_NETBUF=8
CONFIG_TCPIP_MBOX_SIZE=6
CONFIG_DEFAULT_UDP_RECVMBOX_SIZE=6
CONFIG_DEFAULT_TCP_RECVMBOX_SIZE=6
CONFIG_DEFAULT_RAW_RECVMBOX_SIZE=6
CONFIG_DEFAULT_ACCEPTMBOX_SIZE=6
CONFIG_MEMP_NUM_SYS_TIMEOUT=10
CONFIG_LWIP_SO_SNDTIMEO=1
CONFIG_LWIP_SO_RCVTIMEO=1
CONFIG_LWIP_SO_LINGER=1
CONFIG_LWIP_TUYA_SO_LINGER_RST=1
CONFIG_LWIP_PROVIDE_ERRNO=1
CONFIG_LWIP_IPV6=0
CONFIG_LWIP_NETIF_HOSTNAME=1
CONFIG_LWIP_TCPIP_CORE_LOCKING=1
CONFIG_LWIP_EAPOL_SUPPORT=0
CONFIG_TCPIP_THREAD_STACKSIZE=4096
CONFIG_TCPIP_THREAD_PRIO=9
CONFIG_DHCPC_THREAD_STACKSIZE=2048
CONFIG_DHCPC_THREAD_PRIO=5
CONFIG_LWIP_TX_PBUF_ZERO_COPY=0
CONFIG_CONFIG_TUYA_SOCK_SHIM=0
CONFIG_SOCK_API_SYNC=0
CONFIG_LWIP_DHCPC_STATIC_IPADDR_ENABLE=1
CONFIG_LWIP_NETCONN_SEM_PER_THREAD=1
CONFIG_ETHARP_SUPPORT_STATIC_ENTRIES=1
CONFIG_LWIP_NETIF_STATUS_CALLBACK=1
CONFIG_LWIP_COMPAT_MUTEX_ALLOWED=1
CONFIG_LWIP_TIMEVAL_PRIVATE=1
# CONFIG_IN_ADDR_T_DEFINED is not set
CONFIG_LWIP_NETCONN_FULLDUPLEX=1
# CONFIG_MEM_LIBC_MALLOC is not set

#
# System function Config
#
CONFIG_ENABLE_LOG=y
CONFIG_STACK_SIZE_TIMERQ=4096
CONFIG_STACK_SIZE_WORK_QUEUE=5120
CONFIG_MAX_NODE_NUM_WORK_QUEUE=100
CONFIG_STACK_SIZE_MSG_QUEUE=4096
CONFIG_MAX_NODE_NUM_MSG_QUEUE=100
# end of System function Config
